$text-color: #343534;
$secondary-text-color: #E48C7D;
$bg-color: #fff;
$bg-color-gray: #F4F4F8;
$secondary-bg-color: #F7D9D4;
$secondary-bg-color-hovered: #F1D2CB;
$font-size-xl: 36px;
$font-size-l: 18px;
$font-size-m: 13px;
