@import '../../common/styles/variables';

.modal {
    visibility: hidden;
    display: flex;
    position: fixed;
    margin: auto;
    border-radius: 6px;
    background-color: $bg-color;
    border-top: 2vh solid $secondary-bg-color;
    box-shadow: 0 0 17px 0 rgba(23,50,68,0.17);
}

.modal-show {
    visibility: visible;
}

.modal__overlay {
    z-index: 2;
    visibility: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__overlay-show {
    visibility: visible;
}

.modal__modal {
    z-index: 3;
}

.modal__popup {
    z-index: 4;
}

.modal__tooltip {
    z-index: 5;
}

.modal__triangle {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 20px;
    width: 20px;
    background-color: white;
    transform: rotate(45deg);
    box-shadow: 0 0 17px 0 rgba(23, 50, 68, 0.17);
}

.modal__container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 1;
    border-radius: 2vh;
    background-color: inherit;
}
